.request-item-container {
    color: #193B45;
    display: flex;
    background-color: white;
    padding: 3px;
    margin: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .calendar,
  .edit,
  .delete {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .date-time {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .request-details {
    display: flex;
    flex-direction: column;
  }
  
  .request-details span {
    margin-bottom: 5px;
  }
  
  
  .volunteers {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 15%;
  }
  
  .volunteers-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .volunteers-info span {
    margin-right: 5px;
  }
  
  .progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 70%;
  }

  progress {
    width: 100%;
  }

  .progress-bar progress {
    height: 10px;
    appearance: none;
  }

  .progress-bar progress::-webkit-progress-bar {
    background-color: #ccc; /* Grey color for unfilled portion */
  }
  
  .progress-bar progress::-webkit-progress-value {
    background-color: #BDA36B;
  }