.request-item-container {
    background-color: white;
    padding: 3px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  /* .request-item > * {
    margin-right: 10px;
  } */
  
  .request-details {
    margin-left: 10px;
  }

  .request-volunteers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .request-volunteers span {
    margin-left: 3px;
    margin-right: 1px;
  }
  