.message-text {
    margin-bottom: 20px; 
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px; 
  }
  
  .confirmationButton, 
  .cancellationButton {
    padding: 10px 20px;
    background-color: #1e4c5b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #163a45;
  }
  
  