.modalComponent {
  max-height: 75%;
  max-width: 100%;
  min-width: 50%;
  min-height: 50%;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
}

.close-btn {
  background-color: transparent;
}

.closeIcon {
  color: black;
  position: absolute;
  right: 3%;
  top: 6%;
}