.shiftdetails-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #f2f3f4; 
    box-shadow: #fff; 
    overflow-y: auto;
    overflow-x: auto;
}

.editButton { 
  background-color: transparent;
}

.editIcon {
  color: #1f5156;
}

.openStatusButton {
  background-color: rgb(40, 161, 40);
  border-radius: 5px;
}

.checkIcon, .closedIcon {
  margin-right: 5px !important;
}

.closedStatusButton {
  background-color: red;
  border-radius: 5px;
}

.rosterButton {
  border-radius: 5px;
}

.nowrap {
  display: inline-flex; 
  align-items: center; 
}

.inline-text {
  display: inline-block;
  margin: 0; 
  padding-right: 8px; 
}

.warningIcon {
  color: red;
  font-size: .625em;
  padding-bottom: 1em;
}

.shiftdetails-container {
  max-height: 70vh;
}

table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  min-width: fit-content;
  padding-top: 0px;
}

tbody {
  overflow-y: auto;
  max-height: 60vh;
  min-width: fit-content;
}