.upcoming-requests {
  padding: 20px;
}

.date-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #1e4c5b;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.date-header {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #1e4c5b;
  border-radius: 5px;
  display: inline-block;
  color: #1e4c5b;
  background-color: #f0f8fb;
}

.shift-table {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.shift-table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 2;
  border-bottom: 2px solid #1e4c5b;
 
}

.shift-table-header span {
  flex: 1;
  text-align: center;
  margin: 0;
}

.shift-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.shift-info {
  display: flex;
  flex: 1;
  max-width: 50%; 
  justify-content: space-around; 
}

.shift-row:last-child {
  border-bottom: none;
}

.shift-time,
.volunteers-requested,
.actions {
  flex: 1;
  text-align: center;
}

.actions {
  display: flex;
  flex: 1;
  max-width: 50%; 
  justify-content: center;
  gap: 5px;
}

.actions button {
  flex-grow: 1; 
  padding: 5px 10px;
  font-size: 0.9em;
  background-color: #1e4c5b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.actions button:hover {
  background-color: #163a45;
}

.shift-table-header span:first-child,
.shift-time:first-child {
    flex-basis: 5%; 
}
.shift-table-header span:nth-child(2),
.shift-time:nth-child(2) {
    flex-basis: 10%;
}
.shift-table-header span:nth-child(3),
.volunteers-requested {
    flex-basis: 10%;
}
.shift-table-header span:last-child,
.actions {
    flex-basis: 40%;
}
