.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.pagination-wrapper-mobile {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 120px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination-button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ffdd40;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.pagination-button:hover {
  background-color: #ffd000;
}

.pagination-button:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.pagination-button:hover:after {
  width: 100%;
  background: #ffdd40;
}

.pagination-input {
  width: 50px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.pagination-total-pages {
  margin: 0 5px;
}