body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.conf-page {
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.conf-page table {
  max-width: 70%;
  margin: 0 auto;
}

.conf-page button {
  margin-left: 1vw;
  margin-right: 1vw;
}

td,
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}

.success {
  color: #4cbb17;
}

.failure {
  color: #ff0000;
}

.info-icon {
  color: #0066b2;
}

.check-icon {
  color: #4cbb17;
}

h1 {
  margin: 0.5rem;
  padding: 0;
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
}
.closebtn {
  background-color: #193b45;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  color: #fdfaf6;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  font-size: 0.5em;
}

#submit-shifts,
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.shelter,
.shift,
.signupcard {
  margin: 1.063vw;
  border-radius: 1em;
  border: 1px solid #000000;
  background-color: #ecececfc;
  padding: 0.5rem;
}

.signupcard {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.signupcard.shift-graph {
  display: block;
  margin-top: 0;
  background-color: #fcfff1;
}

.signupcard h2 {
  margin-top: 0;
}

.signupcard .column1 {
  flex: 4;
}

.signupcard .column2 {
  flex: 4;
  display: flex;
  flex-direction: row;
  text-align: right;
  white-space: nowrap;
}
.signupcard .column2 .dates {
  flex: 4;
}
.signupcard .column2 .add-btn {
  flex: 2;
  margin: 0.7vh 1vw;
}

.signupcard .column2 button {
  white-space: nowrap;
}

@media (max-width: 960px) {
  .signupcard {
    transition: transform 0.3s ease;
  }
  .signupcard .column2 {
    flex-direction: column;
    text-align: right;
    flex: 2;
    white-space: initial;
  }
  .signupcard .column2 .add-btn {
    display: flex;
    justify-content: flex-end;
  }
  .signupcard .column2 .add-btn button {
    margin: 0;
    margin-top: 0.2em;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 7em;
  }
  .signupcard .column2 .add-btn button .label {
    margin-left: 0.5em;
    font-size: 1rem;
  }
  .signupcard .column2 .add-btn button .plus-icon {
    margin-right: 2vw;
  }
}
@media (max-width: 700px) {
  .signupcard .column2 .add-btn {
    display: flex;
    justify-content: flex-start;
  }
  .signupcard .column2 {
    flex: 1;
  }
}
@media (max-width: 350px) {
  .signupcard {
    flex-direction: column;
    text-align: center;
  }
  .signupcard .column2 .add-btn {
    display: flex;
    justify-content: center;
  }
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

#radius-select {
  margin-top: 1em;
}

.shift.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bde3c8;
  text-align: center;
}

.cancelbtn {
  background-color: #d22730;
  color: #fdfaf6;
  border: none;
  padding: 0.75em;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 7em;
}

.shift.upcoming .details {
  width: 100%;
  text-align: center;
}

.shift.past {
  border: 1px solid black;
  background-color: #9d8021a9;
  text-align: center;
}

.shift.past p {
  margin-bottom: 10px;
}

.shift input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.volunteer-dashboard {
  display: flex;
  text-align: center;
}

.volunteer-dashboard .column {
  padding: 10px;
}

.volunteer-dashboard .column-1 {
  flex: 3;
}

.volunteer-dashboard .column-2 {
  flex: 3;
}

.volunteer-dashboard .column-2 p {
  margin-bottom: 5px;
}

.volunteer-dashboard .column-3 {
  /* allows the entire dashboard page to seem more evenly spaced */
  flex: 1.1;
}

.volunteer-dashboard .card {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #193b45;
}

.volunteer-dashboard .column-1 .card {
  background: #3d885747;
}

.volunteer-dashboard .column-2 .card {
  background: #81602c61;
}

.volunteer-dashboard .column-3 .card {
  background: #05b1d85c;
  /* applied same margin from shelter, shift, and signupcard class, which
  allows the entire dashboard page to seem more evenly spaced */
  margin: 15px;
}

.volunteer-dashboard .column-3 .card p {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 20px;
}

button {
  background-color: #6b7280;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

button:disabled {
  background-color: #8a9da1;
  color: #e0e0e0;      
  cursor: not-allowed;
  opacity: 0.7;
}

.button-transparent {
  background-color: transparent;
  color: #6b7280;
}

.current-volunteer-count {
  background-color: #ecececfc;
  border: none;
  outline: none;
  color: #0066b2;
  font-size: 0.9rem;
  text-decoration: underline;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 960px) {
  .volunteer-dashboard {
    display: block;
  }
}

.shelter-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.43vw;
}

.shelter-dashboard .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #888888;
  padding: 1.43vw;
  width: 32%;
}

.shelter-dashboard .container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.894vh;
}

.shelter-dashboard .container-small {
  width: 20%;
  border-radius: 15px;
  align-items: center;
  background-color: #f9f6f6;
  padding: 5px;
}

.shelter-dashboard .container-medium {
  width: 30%;
  border-radius: 15px;
  align-items: center;
  background-color: #f9f6f6;
  padding: 5px;
  justify-content: center;
}

.shelter-dashboard .container-large {
  width: 40%;
  border-radius: 15px;
  background-color: #f9f6f6;
  padding: 5px;
  justify-content: space-between;
}

.shift-container {
  width: 95%;
  margin-right: 15px;
}

.container-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.shelter-dashboard .shift-card,
.shelter-dashboard .volunteer-card {
  background-color: #3498db; /* Adjusted card color */
  border-radius: 10px;
  margin: 0.717vw 0;
  padding: 1.076vw; /* Increased padding for better appearance */
  display: flex;
  flex-direction: column; /* Adjusted layout to stack content */
  align-items: center; /* Centered content horizontally */
}

.shelter-dashboard .shift-card h4,
.shelter-dashboard .volunteer-card h4 {
  font-size: 1.125rem;
  color: #fff; /* Changed text color to white */
  margin: 0;
}

.shelter-dashboard .shift-card p,
.shelter-dashboard .volunteer-card p {
  font-size: 1rem;
  color: #fff; /* Changed text color to white */
  margin: 0;
}

.shelter-dashboard .volunteer-card {
  margin-left: 1.434vw; /* Added space between columns */
}

.shelter-dashboard button {
  border-radius: 5px;
  color: #0066b2;
  border: none;
  padding: 0.717vw 1.434vw;
  cursor: pointer;
  margin-top: 0.717vw; /* Added space between button and content */
}

.shelter-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.container-large,
.container-medium,
.container-small {
  flex: 1 1 auto;
  padding: 20px;
}

@media (max-width: 850px) {
  .container-large,
  .container-medium {
    width: 90%;
    margin: 0 auto;
  }

  .container-large,
  .container-medium,
  .container-small {
    flex: 1 1 100%;
  }
}

#submit-shifts {
  margin-top: auto;
  margin-bottom: 2.894vh;
  @media (max-width: 960px) {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button-row button {
  @media (max-width: 960px) {
    margin: 1em;
  }
}

#submit-shifts button {
  color: #fff;
  border: transparent;
  background-color: #142f37;
  cursor: not-allowed;
  padding: 0.7em;
}

#submit-shifts button:disabled {
  color: #aaa;
}

#submit-shifts button:enabled:hover {
  cursor: pointer;
}

#submit-shifts button:enabled:after {
  content: "";
  display: block;
  height: 0.434vh;
  width: 0;
  transition:
    width 0.7s ease,
    background-color 0.5s ease;
}

#submit-shifts button:enabled:hover:after {
  width: 100%;
  background: #ffdd40;
}

.no-title h1 {
  display: none;
}

.signup-page {
  display: flex;
}

.signup-page .column {
  padding: 10px;
}

.signup-page .column-1 {
  flex: 3;
}

.signup-page .column-2 {
  flex: 2;
}

@media (max-width: 960px) {
  .signup-page {
    flex-direction: column;
  }

  .signup-page .column {
    padding: 0.717vw;
  }
  .signup-page .column-2 {
    order: 1;
    display: none;
  }
  .signup-page .column-2.active {
    order: 1;
    display: block;
    position: fixed;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .signup-page .column-1 {
    order: 2;
  }
}

.current-selection {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5rem; /* Adjust the top position as needed */
  right: 1rem;
  margin: 1rem;
  padding-left: 1rem;
  height: 80vh;
  width: 35vw;
  border-radius: 1rem;
  background-color: #bde3c8;
  box-shadow: 2px 2px 5px #888888;
  overflow-y: auto;
  @media (max-width: 68.866vw) {
    display: none;
  }
}
.current-selection.active {
  @media (max-width: 960px) {
    display: block;
    position: absolute;
    top: 1em;
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 1em;
    z-index: 40;
  }
}

.example-custom-input {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 1em;
  white-space: nowrap;
  color: #000000;
  padding: 1em;
  text-align: center;
  line-height: 0;
  margin-left: 0;
  margin-top: 0.1em;
  width: 10em;
  @media (max-width: 960px) {
    margin-right: 0;
  }
}

.current-selection.active .close-btn {
  display: none;
  @media (max-width: 960px) {
    display: block;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
  }
}

.cta-button {
  display: none;
  @media (max-width: 960px) {
    position: fixed;
    display: block;
    z-index: 30;
    bottom: 2.894vh;
    right: 1.417vw;
  }
}

.cta-button button {
  padding: 0.708vw 1.417vw;
  background-color: #132b32;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
}

.cta-button button:hover {
  background-color: #2980b9;
}

.shift-count {
  display: block;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.shift-count canvas {
  width: 100%;
}

.signupcard.shift-graph h3,
.signupcard.shift-graph h4 {
  margin: 0;
  height: auto;
  width: auto;
}

.continue-bottom-row {
  display: none;
  @media (max-width: 960px) {
    position: fixed;
    display: block;
    z-index: 30;
    bottom: 2.894vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 0px 50px 30px rgb(255, 255, 255);
  }
}
.continue-bottom-row .cont-btn,
.continue-bottom-row .circle {
  margin-left: 1em;
  padding: 15px 20px;
  background-color: #205156;
  color: #f5b922;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.continue-bottom-row .cont-btn {
  padding: 0;
  background-color: #205156;
  color: #f5b922;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  width: 80%;
}
.continue-bottom-row .cont-btn.disabled {
  background-color: #2051568f;
  color: #f5b92275;
}
.continue-bottom-row .cart {
  position: relative;
}

.continue-bottom-row .cart .count-bubble {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #205156;
  border-radius: 50%;
  background: #f5b921;
  color: #205156;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.8em;
  right: -0.5em;
}

.date-row {
  display: flex;
  flex-direction: row;
  @media (max-width: 700px) {
    flex-direction: column;
  }
  @media (max-width: 350px) {
    text-align: center;
    align-items: center;
  }
}
.date-row .date-label {
  text-align: left;
  flex: 1;
  line-height: 1.5em;
}
.date-row .picker {
  text-align: left;
  flex: 1;
}

@import "./message.css";
@import "./Login.css";
@import "./Dashboard.css";
@import "./Navigation.css";
@import "./Menu.css";
@import "./volunteer/VolunteerShiftSignup.css";