.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #f3f4f6;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: var(--active-color-hover);
}

.dropdown-item.active {
  background-color: var(--active-color);
}

.dropdown-item.active:hover {
  background-color: var(--active-color-hover);
}

.dropdown-menu-item {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: var(--border-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-color);
  z-index: 50;
  margin-top: 0.25rem;
  min-width: 12rem;
  font-size: 0.875rem;
}
.left {
  left:0
}

.dropdown-menu-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--secondary-color);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.dropdown-menu-button:hover {
  background-color: var(--active-color-hover);
}

.dropdown-name {
  font-size: 0.875rem;
  font-weight: 500;
}