.dropdown-menu-item {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 50;
  margin-top: 0.25rem;
  min-width: 12rem;
  font-size: 0.875rem;
}
.left {
  left:0
}

.dropdown-menu-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #374151;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.dropdown-menu-button:hover {
  background-color: #e2e7ec;
}

.dropdown-name {
  font-size: 0.875rem;
  font-weight: 500;
}