/* Navbar background color */
.navbar {
  background-color: #1f5156 !important;
}

.navbar-nav .nav-link {
  padding-left: 1em;
}

.navbar-brand {
  color: #f5b921 !important;
  padding-left: 1em;
  @media (max-width: 300px) {
    font-size: 1rem !important;
  }
}

/* Active link */
.nav-link.active {
  border-bottom: 1px solid #f5b921;
}

.nav-link:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition:
    width 0.3s ease,
    background-color 0.5s ease;
}

.nav-link:hover:after {
  width: 100%;
  background: #ffdd40;
}

.home-icon {
  font-size: 30px;
}
