.roaster-item-container {
    color: #193B45;
    background-color: white;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 103%;
  }
  
  .full-width-progress {
    width: 106%;
    display: block;
    margin-left: -3%;
  }
  
  @media only screen and (min-width: 449px) and (max-width: 580px) {
    .full-width-progress {
      width: 104.5%;
      margin-left: -2.1%;
    }
  }

  @media only screen and (min-width: 581px) and (max-width: 900px) {
    .full-width-progress {
      width: 103%;
      margin-left: -1.5%;
    }
  }

  .roaster-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .volunteers-list {
    display: flex;
    flex-direction: column;
  }
  
  .volunteer-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .volunteer-item span {
    margin-left: 3px;
    margin-right: 1px;
  }
  