on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-client-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: client_app
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/shelter-volunteers-client-app:latest
          target: production
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/shelter-volunteers-client-app:build-cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/shelter-volunteers-client-app:build-cache,mode=max

  build-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: server
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/shelter-volunteers-server:latest
          target: production
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/shelter-volunteers-server:build-cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/shelter-volunteers-server:build-cache,mode=max