name: Server-side testing

on: push

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.14"
    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.13"
        python-version: ${{ matrix.python-version }}
        enable-cache: true

    - name: Install dependencies
      working-directory: server
      run: uv sync --locked --all-extras --dev
      
    - name: Running all server-side tests written for pytest
      run: uv run pytest
